/* used for troubleshooting, comment these out when the code is done */

    /* these are PARENT containers */
    /* .header, .flex-container, .flex-container-2, .flex-container-3, .flex-container-4, .footer {
        border: 4px solid olive;
    }
    /* these are CHILDREN containers */
    /* .header-links, .description-container-left, .description-container-right, .placeholder-logo, .information-container, .cta-container-left, .cta-container-right, .testimonial-container-top, .testimonial-container-bottom, .cta-container {
        border: 4px solid orange;
    }
    /* these are ITEMS */
    /* a, li, p, h1, h2, h3, button, img {
        border: 4px dotted lightblue;
    }

/* css for the basic elements of the website */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

ul {
    list-style-type: none;
    padding: 2px;
    margin: 0;
    font-size: 24px;
    font-size: 12px;
    margin-left: 36px;
  }

a {
    text-decoration: none;
    color: #E5E7EB;
  }

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

/* this section only holds containers */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-bottom: 10%;
}

.description-container-left {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px;
    padding: 8px;
}

.description-container-right {
    margin: 16px;
}

.flex-container-2 {
    display: flex;
    flex: 1;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.information-container {
    width: 10%;
    text-align: center;
}

.flex-container-3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2947;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.testimonial-container-top {
    width: 50%;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.testimonial-container-bottom {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: bold;
    color: #1F2937;
}

.flex-container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cta-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    gap: 16px;
    padding: 2% 8% 2% 8%;
    border-radius: 5px;
}

.cta-container-left {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.cta-container-left > h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cta-container-left > p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.cta-container-right {
    display: flex;
    justify-content: center;
    width: 33%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937; 
    color: white;
    padding: 2%;
}

/* css rules for more specific elements of the website */

.header-logo {
    width: 200px;
    height: 50px;
    background-color: rgb(17, 17, 17);
}

.hero-image {
    width: 400px;
    height: 200px;
}

.information-image {
    width: 90%;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.signup-button-top {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 1% 4% 1% 4%;
    border: none;
    border-radius: 5px;
}

.signup-button-bottom {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
}